<!-- Template for the engineer, text content is written as template literals-->
<article class="card mb-3">
    <div class="card-header text-white bg-dark">
        <h2>name</h2>
        <h5><i class="fas fa-glasses" style="color:white"></i> role</h5>
    </div>
    <div class="card-body text-dark bg-light">
      <ul class="list-group">
          <li class="list-group-item" id="id">ID</li>
          <li class="list-group-item" id="email">Email</li>
          <li class="list-group-item" id="github">Test</li>
      </ul>
    </div>
</article>