<!-- Template for the engineer role, text content is written as template literals-->
<article class="card mb-3" style="max-width: 18rem;">
    <div class="card-header text-white bg-dark">Header</div>
        <h2 id="engineer-name">${engineer.name}</h2>
        <h5 id="engineer-role">${engineer.role}</h5>
    <div class="card-body text-dark bg-light">
      <ul class="list-group">
          <li class="list-group-item">ID: ${engineer.id}</li>
          <li class="list-group-item">Email: ${engineer.email}</li>
          <li class="list-group-item">GitHub: ${engineer.github}</li>
      </ul>
    </div>
</article>