<!-- Template for the intern role, text content is written as template literals-->
<article class="card mb-3" style="max-width: 18rem;">
    <div class="card-header text-white bg-dark">Header</div>
        <h2 id="intern-name">${intern.name}</h2>
        <h5 id="intern-role">${intern.role}</h5>
    <div class="card-body text-dark bg-light">
      <ul class="list-group">
          <li class="list-group-item">ID: ${intern.id}</li>
          <li class="list-group-item">Email: ${intern.email}</li>
          <li class="list-group-item">School: ${intern.school}</li>
      </ul>
    </div>
</article>